body {
  background: darkslategrey;
}

.products {
  margin: 50px auto;
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}

thead th {
  background-color: #9d8686;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.cart-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.checkout-btn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00abb3;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkout-btn:hover {
  background-color: #0056b3;
}

